<form action="/services/<%=@service.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <p>Service Name: <input type="text" name="name" value="<%=@service.name%>"></p>
    <p>Service Kind: <input type="text" name="kind" value="<%=@service.kind%>"></p>
    <p>Service Level: <input type="text" name="level" value="<%=@service.level%>"></p>
    <input type="submit" value="Edit Item">
  </form>