<h3>New Service Below:</h3> 
<form action="/services/new" method="post">
    <label for="name"> Name </label>
    <input id="name" type="text" name="name"/> <br>
    <label for="kind"> Kind </label>
    <input id="kind" type="text" name="kind"/> <br>
    <label for="level"> Level </label>
    <input id="level" type="text" name="level"/> <br>
<input type="submit" value="Submit"/>
</form>
