<h3>Login</h3>
<form action="/users/login" method="POST">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form> <br>

<p>Not signed up yet, <a href='/users/signup'>click here</a> </p>
